<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!cathegories || cathegories.length === 0">
        <td colspan="4" class="text-center">No cathegories found</td>
      </tr>

      <tr *ngFor="let cathegory of cathegories; trackBy: trackById">
        <td>{{ cathegory.id }}</td>
        <td>{{ cathegory.nombre }}</td>
        <td>{{ cathegory.descripcion }}</td>
        <td>
          <button *ngIf="showActions" (click)="callEditMethod.emit(cathegory)" class="btn btn-sm btn-warning me-2" type="button">
            Edit
          </button>
          <button *ngIf="showActions" (click)="callDeleteMethod.emit(cathegory)" class="btn btn-sm btn-danger" type="button">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
